.app {
  padding: 2rem;
}

.app .show-data {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 1rem;
  display: grid;
}

.app .show-data .item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.app .show-data .item .item-info {
  margin-right: 2rem;
}

.app .show-data .item .item-info .title {
  font-weight: bold;
  font-size: large;
}

.app .show-data .item .item-info .value {
  color: rgba(235, 10, 10, 0.781);
  font-size: large;
}

.ant-pagination {
  margin-top: 1rem;
}
